(scan:1.5413,((locu:1.0713,(olat:0.7466,drer:0.7466)'14':0.3246)'13':0.3587,(xtro:1.1723,(hsap:1.0632,ggal:1.0632)'25':0.1091)'37':0.2577)'36':0.1113);

drer    workflow/resources/genomes/drer.fa
olat    workflow/resources/genomes/olat.fa
locu    workflow/resources/genomes/locu.fa
xtro    workflow/resources/genomes/xtro.fa
ggal    workflow/resources/genomes/ggal.fa
hsap    workflow/resources/genomes/hsap.fa
scan    workflow/resources/genomes/scan.fa